
*.cache

*.exe

*.pdb

ProyectoHogarAncianos/\.vs/ProyectoHogarAncianos/v14/\.suo

ProyectoHogarAncianos/ProyectoHogarAncianos/obj/Debug/

ProyectoHogarAncianos/\.vs/ProyectoHogarAncianos/v14/

ProyectoHogarAncianos/ProyectoHogarAncianosDatos/bin/Debug/

ProyectoHogarAncianos/ProyectoHogarAncianosDatos/obj/Debug/

*.dll

*.manifest
